<template>
<div style="padding: 30px">
    Works!
    <multi-input-form
        :options="options"
        @change="onChange($event)"
        @save="onSave($event)">
        <button type="submit">submit</button>
    </multi-input-form>
</div>
</template>

<script>
export default {
  head() {
    return {
      title: 'home',
    }
  },


  data() {
    return {
      passwordValue: null,
      passwordInput: {
        type: 'password',
        value: '',
        name: 'password',
        placeholder: 'password',
        rules: { regex: /(?=^.{8,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$/, min: 8 },
        patternMessage: 'Password must contain at least 1 capital letter, ' +
                          '1 numeric/special character like "!, @, ...etc"',
      },
    }
  },



  computed: {
    options() {
      console.log(this.passwordInput.value);
      return [
        this.passwordInput,
        {
          type: 'password',
          value: '',
          name: 'confirm_password',
          placeholder: 'confirm password',
          rules: {
            required: true,
            is: this.passwordValue,
          },
        },

        {
          type: 'date',
          label: 'Birth date',
          name: 'birth',
        }
      ]
    },
  },



  methods: {
    onSave(data) {
      console.log(data);
    },

    onChange({ input, value }) {
      if (input === 'password') {
        this.passwordValue = value
      }
    },
  },
}
</script>
