<template>
  <div class="autocomplete-input">
    <!-- input with autocomplete -->
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label autocomplete__container"
        v-if="input.type === 'autocomplete'"
        :class="{'is-invalid': errors.has(input.name) || (!isSet && isStarted && input.strict) || (hasError && input.multiple), 'mdl-chips': input.multiple}">
      <label class="mdl-textfield__label" v-if="!input.multiple">{{ input.label }}</label>

      <span class="mdl-chip mdl-chip--deletable" :class="input.chipsClasses" v-for="(chip, index) in chips" :key="index">
        <span class="mdl-chip__text">{{chip.text}}</span>
        <button type="button" class="mdl-chip__action" @click="removeChip(index)"><i class="material-icons">cancel</i></button>
      </span>


      <input type="text"
        class="mdl-textfield__input"
        v-model="input.value"
        @focus="toggleAutocomplete(false)"
        @blur="toggleAutocomplete(true)"
        @change="dispatchAction(input)"
        @keydown.native.enter="saveChips"
        :name="input.name"
        :placeholder="input.placeholder || ''"
        v-validate="input.rules"
        :data-vv-name="input.name"
        :data-vv-as="input.as || input.label"
        autocomplete="off">

      <button class="mdl-buttton mdl-js-button mdl-button--icon mdl-button--primary"
          v-if="input.repeatable"
          @click="emitRepeatInput">
        <i class="material-icons">add</i>
      </button>

      <button class="mdl-buttton mdl-js-button mdl-button--icon mdl-button--primary"
          v-if="input.dismiss"
          @click="emitRemoveInput">
        <i class="material-icons">clear</i>
      </button>

      <span class="mdl-textfield__error">
        {{ errors.first(input.name) }}
        <span v-if="!isSet && isStarted && !errors.has(input.name) && input.strict">
          please choose from the list
        </span>
        <span v-if="input.multiple">the {{input.label}} is required</span>
      </span>

      <div class="autocomplete">
        <div class="autocomplete__list mdl-shadow--4dp"
            md-elevation="3dp"
            v-if="results && results.length > 0 && !listHidden">
          <div class="mdl-list">
            <div class="mdl-list__item autocomplete__item"
                v-for="(result, index) in results"
                :key="index"
                @click="saveParam(result)">
              <div class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list_item-avatar" v-if="input.icon">{{input.icon}}</i>
                <span>
                  {{ getString(result) }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end of autocomplete -->
  </div>
</template>


<script>
/**
 * TODO: (@hassan) you should fix all autocomplete
 * to use inputs[{text, value}]
 */
export default {
  name: 'AutocompleteInput',

  props: ['input'],

  data() {
    return {
      timeout: null,
      isSet: false,
      isStarted: false,
      listHidden: true,
      value: {},
      isEmpty: true,
      chips: this.input.inputs,
      hasError: false,
    };
  },



  computed: {
    /**
     * get the results of input getter
     * @return {Array[Object]} results
     */
    results() {
      const data = this.$store.getters[this.input.getter](this.input.value);

      if (data && data.content.length) {
        return data.content;
      }

      return [];
    },

    /**
     * return the value of input.
     */
    inputValue() {
      if (!this.input.multiple) {
        return this.value;
      }

      return this.chips;
    },
  },



  methods: {
    /**
     * show or hide autocomplete menu
     */
    toggleAutocomplete(value) {
      setTimeout(() => {
        this.listHidden = value;
        this.$forceUpdate();
      }, 300);
    },


    /**
     * concat strings values of result item for the autocomplete
     * depending on the keys detected in input's displayParams properties.
     * @param {Object} result autocomplete results item.
     *
     * @return {String} value of dedicated input params concated together.
     */
    getString(result) {
      return this.input.displayParams
        .reduce((cur, next) => `${cur} - ${result[next]}`, '')
        .replace(/(^(\s-\s)*|(\s-\s)*$)/mg, '');
    },


    /**
     * dispatch action of fetching some action on autocomplete item change
     * @param {Object<FormInput>} input field of the autocomplete item
     */
    dispatchAction() {
      const { input } = this;

      this.$emit('input', input);

      clearTimeout(this.timeout);

      if (!input.multiple && input.strict) {
        this.isEmpty = true;
      }

      this.value = {};

      this.isStarted = true;
      this.isSet = false;
      this.hasError = false;

      this.timeout = setTimeout(() => {
        if (input.value.trim().length > 0) {
          this.$store.dispatch(input.action, { query: input.value, extra: input.extraData });
        }

        if (!input.strict) {
          this.value.text = input.value;
          this.isEmpty = false;
        }
      }, 500);
    },


    /**
     * save the value of dedicated param to the input so that it can be
     * sent with the form data.
     * @param {Object<FormInput>} input field of the autocomplete type.
     * @param {Object} result autocomplete results item.
     */
    saveParam(result) {
      const text = this.getString(result);
      const value = result[this.input.param];
      let isChip = null;

      if (this.input.multiple) {
        isChip = this.chips.find(chip => chip.text === text || chip.value === value);
        if (isChip) {
          return;
        }

        this.chips.push({ text, value });
        this.input.value = '';
        this.toggleAutocomplete(false);
      } else {
        this.value = { text, value };
        this.input.value = text;
      }

      this.isSet = true;
      this.isEmpty = false;
      this.$emit('selected', { input: this.input, result });
      this.$forceUpdate();
    },


    /**
     * save value of input to chips incase of non strict to auto complete
     */
    saveChips(event) {
      event.preventDefault();
      let isChip = null;

      if (!this.input.multiple || this.input.strict || !this.input.value.trim()) {
        return;
      }

      isChip = this.chips.find(chip => chip.text === this.input.value);
      if (isChip) {
        return;
      }

      this.chips.push({ text: this.input.value, value: null });
      this.input.value = '';
      this.isEmpty = false;
    },

    /**
     * removes chip from chips list
     * @param {Object} chip object of default values {text, param}.
     */
    removeChip(chip) {
      const index = this.chips.indexOf(chip);
      if (index > -1) {
        this.chips.splice(index, 1);
        this.isEmpty = this.chips.length < 1;
      }
    },


    emitRepeatInput() {
      this.$emit('repeatInput');
    },

    emitRemoveInput() {
      this.$emit('removeInput');
    },
  },

  mounted() {
    this.$nextTick(() => {
      if (this.input.multiple && this.chips.length > 0) {
        this.isEmpty = false;
      } else if (!this.input.multiple && this.input.value) {
        if (this.input.value && this.input.paramValue) {
          this.value = { text: this.input.value, value: this.input.paramValue };
          this.isEmpty = false;
        }
      }
    });
  },

};
</script>


<style lang="sass" indented-syntax="true"></style>
