<template>
  <div class="date-input">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" :class="{ 'is-dirty': !!value, 'is-invalid': input.rules.required && isEmpty && isStarted }" ref="container">
      <label class="mdl-textfield__label" :for="input.name">{{input.label}}</label>
      <datepicker
          input-class="mdl-textfield__input"
          :name="input.name"
          :disabled-dates="disabled"
          :format="input.rules.date_format"
          :required="input.required"
          :placeholder="input.label ? '' : (input.placeholder || 'choose date')"
          :v-model="value"
          :value="value ? value : null"
          :language="locales[this.$route.params.lang || 'en']"
          @opened="handleOpened($event)"
          @closed="handleClosed($event)"
          @input="handleInput($event)"
          @selected="handleSelected($event)">
      </datepicker>
      <span class="mdl-textfield__error" v-if="input.rules.required && isEmpty && isStarted">The {{input.label}} field is required</span>
    </div>
  </div>
</template>


<script>
import Datepicker from 'vuejs-datepicker';
import * as dateLocales from 'vuejs-datepicker/dist/locale/index.js';


/**
 * errors
 * 1- if required && touched && empty -> show error.
 */

export default {
  name: 'DateInput',

  props: ['input'],

  components: {
    Datepicker,
  },

  data() {
    return {
      value: this.input.value ? new Date(this.input.value) : null,
      isEmpty: !this.input.value,
      isStarted: false,
      hasError: this.input.rules.required && !this.input.value,
      locales: dateLocales,
    };
  },



  computed: {
    inputValue() {
      if (!this.value) {
        return null;
      }

      return this.value;
    },

    disabled() {
      const { rules } = this.input;
      const { to, from } = rules;

      return {
        to: to ? new Date(to) : null,
        from: from ? new Date(from) : null,
      };
    },
  },



  methods: {
    emitRepeatInput() {
      this.$emit('repeatInput');
    },


    emitRemoveInput() {
      this.$emit('removeInput');
    },

    setValue(value) {
      this.value = value;
      this.handleSelected(value);
    },

    handleOpened() {
      this.$refs.container.classList.add('md-input-focused');
    },
    handleClosed() {
      this.isStarted = true;
      this.isEmpty = !this.inputValue;
      this.$refs.container.classList.remove('md-input-focused');
    },
    handleInput(data) {
      this.hasError = !data;
    },

    handleSelected(date) {
      this.$emit('select', date);
      if (date) {
        this.hasError = false;
        this.isEmpty = false;
        this.value = date;
        this.$refs.container.classList.add('md-has-value');
        return;
      }

      this.hasError = true;
      this.value = null;
      this.isEmpty = false;
      this.$refs.container.classList.remove('md-has-value');
    },

    validate() {
      this.isStarted = true;
      this.isEmpty = !this.inputValue;
      return Promise.resolve(!(this.input.rules.required && this.isEmpty && this.isStarted));
    },
  },
};
</script>


<style lang="sass">
.date-input
  .mdl-textfield
    > div
      width: 100%

    .md-input
      font-size: 14px
</style>

