<template>
  <div class="location-input">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
        :class="{'is-invalid': errors.has(input.name) || (!isSet && isStarted && input.strict) || (hasError && input.multiple), 'mdl-chips': input.multiple}">
      <label class="mdl-textfield__label" v-if="!input.multiple">{{ input.label }}</label>

      <span class="mdl-chip mdl-chip--deletable" :class="input.chipsClasses" v-for="(chip, index) in chips" :key="index">
        <span class="mdl-chip__text">{{chip.text}}</span>
        <button type="button" class="mdl-chip__action" @click="removeChip(index)"><i class="material-icons">cancel</i></button>
      </span>


      <input ref="input" class="mdl-textfield__input" v-model="value"
          :name="input.name"
          :placeholder="input.placeholder || ''"
          v-validate="input.rules"
          :data-vv-name="input.name"
          :data-vv-as="input.as || input.label"
          :disabled="input.disabled"
          :readonly="input.readonly"
          @change="handleChange($event)">

      <span class="mdl-textfield__error">
        {{ errors.first(input.name) }}
        <span v-if="!isSet && isStarted && !errors.has(input.name) && input.strict">
          please choose from the list
        </span>
        <span v-if="input.multiple">the {{input.label}} is required</span>
      </span>
    </div>
  </div>
</template>


<script>
import { load } from './googleMapInit';

const googleMapOptions = {
  load: {
    key: 'AIzaSyASva5yCJt5HDNWgZXYDrg4lUuE5PzMIQI',
    libraries: 'places,drawing,visualization',
  },
};

export default {
  name: 'LocationInput',

  props: ['input'],

  data() {
    return {
      value: '',
      place: null,
      chips: this.input.inputs,
      isSet: false,
      isStarted: false,
      isEmpty: true,
      hasError: false,
      timeout: null,
      lat: null,
      lng: null,
      showMap: false,
      googleLoaded: false,
    };
  },



  computed: {
    inputValue() {
      if (!this.input.multiple) return this.place;

      return this.chips.map(chip => chip.value);
    },

    rules() {
      return { ...this.input.rules, required: false };
    },
  },



  methods: {
    loadGoogleFiles() {
      load(googleMapOptions.load).then(() => {
        this.$nextTick(() => {
          this.init();
          this.googleLoaded = true;
        });
      }).catch(err => console.error(err)); // eslint-disable-line
    },

    checkGoogleInit() {
      const { google } = window;
      if (!google) {
        setTimeout(() => {
          this.checkGoogleInit();
        }, 500);
        return;
      }
      this.init();
    },

    init() {
      const { google } = window;
      const $input = this.$refs.input && this.$refs.input.$el;
      const $autocomplete = new google.maps.places.Autocomplete($input);
      $autocomplete.addListener('place_changed', () => {
        if (!$input.value) {
          this.place = '';
          this.isSet = false;
        }

        const place = $autocomplete.getPlace();
        const country = place.address_components.filter(comp => comp.types.indexOf('country') > -1);
        const lat = place && place.geometry.location.lat();
        const lng = place && place.geometry.location.lng();

        this.place = {
          address: place.formatted_address,
          country: country && country[0].short_name,
          lat,
          lng,
          id: (this.input.value && this.input.value.id) || null,
        };

        if (this.input.multiple) {
          this.chips.push({ text: place.formatted_address, value: this.place });
          $input.value = '';
        }
        this.isSet = true;
        this.isEmpty = false;
      });
    },

    removeChip(chipIndex) {
      this.chips.splice(chipIndex, 1);
      if (this.chips.length === 0) {
        this.isEmpty = true;
      }
    },

    handleChange() {
      clearTimeout(this.timeout);

      if (!this.input.multiple && this.input.strict) {
        this.isEmpty = true;
      }

      this.isStarted = true;
      this.isSet = false;
      this.hasError = false;

      this.timeout = setTimeout(() => {
        if (!this.input.strict) {
          this.isEmpty = false;
        }
      }, 500);
    },

    handleFocus() {
      this.isStarted = true;
    },

    validate() {
      const { multiple } = this.input;
      this.isStarted = true;
      this.isEmpty = multiple ? !this.inputValue.length : !this.inputValue;

      return !(this.input.rules.required && this.isEmpty && this.isStarted);
    },
  },

  mounted() {
    this.$nextTick(() => {
      this.checkGoogleInit();

      if (this.input.multiple && this.chips.length > 0) {
        this.isEmpty = false;
        this.isSet = true;
        this.isStarted = true;
      }
    });
  },
};
</script>


<style lang="sass"></style>

