<template>
  <form class="multi-input-form" novalidate autocomplete="off"
      @submit.stop.prevent="validateBeforeSubmit">
    <div class="multi-input-form__content-wrap">
      <div class="multi-input-form__before-content">
        <slot name="before"></slot>
      </div>

      <div class="multi-input-form__content">
        <div v-for="input in inputs"
          :key="input.name"
          :class="'input-' + input.type">

          <!-- regular input for email, number, date -->
          <regular-input
              v-if="isRegular(input) || input.type === 'textarea'"
              ref="builderInput"
              :input="input"
              @change.native="delayEmitEvent('change', input.name, 200, $event)"
              @keydown.native="delayEmitEvent('keydown', input.name, 200, $event)"
              @removeInput="emitRemoveInput(input)"
              @repeatInput="emitRepeatInput(input)">
          </regular-input>

          <date-input
              v-if="input.type === 'date' && isBrowser"
              ref="builderInput"
              :input="input"
              @change.native="delayEmitEvent('change', input.name, 200, $event)"
              @keydown.native="delayEmitEvent('keydown', input.name, 200, $event)"
              @removeInput="emitRemoveInput(input)"
              @repeatInput="emitRepeatInput(input)">
          </date-input>

          <time-input
              v-if="input.type === 'time'"
              ref="builderInput"
              :input="input"
              @change.native="delayEmitEvent('change', input.name, 200, $event)"
              @change="delayEmitEvent('change', input.name, 200, $event)"
              @keydown.native="delayEmitEvent('keydown', input.name, 200, $event)">
          </time-input>


          <div class="edit-single__text" v-if="input && input.type === 'location'">
            <location-input
                :input="input"
                ref="builderInput">
            </location-input>
          </div>

          <!-- if is radio/checkbox -->
          <radio-checkbox
              v-if="input.type === 'radio' || input.type === 'checkbox'"
              :input="input"
              ref="builderInput">
          </radio-checkbox>

          <select-input
              v-if="input.type === 'select'"
              ref="builderInput"
              :input="input"
              @selected="emitEvent('selected', $event)">
          </select-input>

          <!-- input with autocomplete -->
          <autocomplete-input
              v-if="input.type === 'autocomplete'"
              :input="input"
              ref="builderInput"
              @selected="emitEvent('selected', $event)"
              @input="emitEvent('input', $event)"
              @repeatInput="emitRepeatInput(input)"
              @removeInput="emitRemoveInput(input)">
          </autocomplete-input>
        </div>
      </div>

      <div class="multi-input-form__after-content">
        <slot name="after"></slot>
      </div>
    </div>
    <!-- this slot is only for add custom buttons -->
    <!-- for submit and can be attached to some custom behavior -->
    <!-- outside this component -->
    <div class="multi-input-form__actions">
      <slot>
        submit button
      </slot>
    </div>
  </form>
</template>

<script>
/* eslint-disable no-param-reassign */
/* eslint-disable vue/no-side-effects-in-computed-properties */
import FormInput from './formInput'

const RegularInput = () => import('./RegularInput.vue')
const AutocompleteInput = () => import('./AutocompleteInput.vue')
const RadioCheckbox = () => import('./RadioCheckbox.vue')
const SelectInput = () => import('./SelectInput.vue')
const LocationInput = () => import('./LocationInput.vue')
const DateInput = () => import('./DateInput.vue')
const TimeInput = () => import('./TimeInput.vue')


export default {
  name: 'MultiInputForm',

  props: ['options'],

  components: {
    RegularInput,
    AutocompleteInput,
    RadioCheckbox,
    SelectInput,
    LocationInput,
    DateInput,
    TimeInput,
  },

  data() {
    return {
      timeout: null,
      cachedInputs: [],
      hasError: false,
      isBrowser: false,
    };
  },


  computed: {
    /**
     * create inputs instances
     * and save these input to component
     * data.
     */
    inputs() {
      const inputs = this.options.map((option) => {
        const oldInput = this.cachedInputs.find(input => input.name === option.name);

        let input = null;
        input = new FormInput(option);

        if (oldInput) {
          input.value = oldInput.value;
          if (input.type === 'autocomplete') {
            input[input.name] = (oldInput[oldInput.name]) ? oldInput[oldInput.name] : '';
            input.isSet = oldInput.isSet;
            input.isStarted = oldInput.isStarted;
          }
        }

        return input;
      });

      this.cachedInputs = inputs;
      return inputs;
    },
  },


  methods: {
    /**
     * check validation for all inputs
     * before submit.
     */
    validateBeforeSubmit() {
      this.$validator.validateAll().then((isClear) => {
        const types = ['location', 'date', 'time'];
        const clearPromise = Promise.all(this.$refs.builderInput.map((ref) => {
          const { type } = ref.input;
          const { required } = ref.input.rules;
          const { isEmpty } = ref;

          if (types.includes(type)) {
            return ref.validate();
          }

          return ref.$validator.validateAll().then((isRefClear) => {
            let absoluteClear = true;
            if (!isRefClear || (type === 'autocomplete' && required && isEmpty)) {
              absoluteClear = false;
            }

            return absoluteClear;
          });
        }));

        clearPromise.then((res) => {
          if (res.includes(false) || !isClear) {
            this.$emit('validate', false);
            return;
          }
          this.$emit('validate', true);
          this.$nextTick(() => {
            this.emitSubmit();
          });
        });
      });
    },


    /**
     * emit save event to the parent component
     * after collecting data of the inputs.
     */
    emitSubmit() {
      const data = {};
      const refs = this.$refs.builderInput;

      if (refs && refs.length > 0) {
        refs.forEach((ref) => {
          data[ref.input.name] = ref.inputValue;
        });
      }

      this.$emit('save', data);
    },


    /**
     * emit repeat input event to make parent component handle the
     * copy and create new instance of this input options.
     * @param {Object<FormInput>} input instance of the field with options.
     */
    emitRepeatInput(input) {
      const option = this.options.find(opt => opt.name === input.name);
      this.$emit('repeatInput', option);
    },


    /**
     * emit remove input event to make parent component handle
     * deletion of the input options.
     * @param {Object<FormInput>} input instance of the field with options.
     */
    emitRemoveInput(input) {
      const option = this.options.find(opt => opt.name === input.name);
      this.$emit('removeInput', option);
    },

    emitSelected(value, input) {
      this.$emit('selected', { input, value });
    },

    emitEvent(event, data) {
      this.$emit(event, data);
    },

    setInput(inputName, value) {
      this.$refs.builderInput.forEach((ref) => {
        if (ref.input.name === inputName) {
          ref.setValue(value);
        }
      });
    },

    clearErrors(inputName) {
      if (inputName) {
        this.$refs.builderInput.forEach((ref) => {
          if (ref.input.name === inputName) {
            ref.errors.clear();
          }
        });
        return;
      }

      this.$refs.builderInput.forEach((ref) => {
        ref.errors.clear();
      });
    },


    clearValue(inputName) {
      if (inputName) {
        this.setInput(inputName, '');
        this.clearErrors(inputName);
        return;
      }

      this.$refs.builderInput.forEach((ref) => {
        this.setInput(ref.input.name, '');
      });
      this.clearErrors();
    },


    /**
     * check if type of input is regular
     * @param {Object<FormInput>} input instance of the field
     *
     * @return {Boolean}
     */
    isRegular(input) {
      const { type } = input;
      const irregular = ['radio', 'checkbox', 'autocomplete', 'select', 'location', 'date', 'time'];
      return !irregular.includes(type);
    },


    delayEmitEvent(eventName, inputName, delay, jsEvent) {
      setTimeout(() => {
        const input = this.$refs.builderInput.find(inputRef => inputRef.input.name === inputName);
        const value = input ? input.inputValue : null;

        this.emitEvent(eventName, { input: inputName, value, jsEvent });
      }, delay);
    },
  },


  mounted() {
    this.$nextTick(() => this.isBrowser = true)
  },
};
</script>

<style lang="sass">
.autocomplete
  left: 0
  position: absolute
  top: 100%
  width: 100%

  &__container
    position: relative

  &__list
    left: 0
    position: absolute
    top: 100%
    width: 100%

.radio-checkbox__wrapper
  .md-error
    display: block
    font-size: 12px
    width: 100%

.md-dialog
  & &-content
    .md-dialog-actions.formbuilder__actions
      margin: 0 -24px -24px 0

.multi-input-form
  .input-hidden
    display: none !important

  .mdl-textfield
    width: 100%
    position: relative

    &__input + .material-icons
      position: absolute
      top: 50%
      right: 0
      transform: translate3d(0, -50%, 0)
</style>
