<template>
  <div class="radio-checkbox">
    <div class="radio-checkbox__wrapper"
        v-if="input.type === 'radio'"
        :class="{'is-invalid': errors.has(input.name)}">
      <span class="radio-checkbox__label">{{ input.label }}:</span>
      <label class="radio-checkbox__label mdl-radio mdl-js-radio mdl-js-ripple-effect"
          v-for="(radio, index) in input.inputs"
          :for="input.name + '_' + index"
          :key="index">
        <input
            type="radio"
            :id="input.name + '_' + index"
            class="mdl-radio__button" :name="input.name" :value="radio.value"
            v-validate="input.rules"
            :data-vv-name="input.name"
            :data-vv-as="input.as || input.label"
            v-model="radioValue">
        <span class="mdl-radio__label">{{radio.text}}</span>
      </label>
      <span class="mdl-textfield__error">{{ errors.first(input.name) }}</span>
    </div>



    <div class="radio-checkbox__wrapper"
        v-if="input.type === 'checkbox'"
        :class="{'is-invalid': errors.has(input.name)}">

      <span class="radio-checkbox__label">{{ input.label }}</span>
      <label
          v-for="(checkbox, index) in input.inputs"
          :for="input.name + '-checkbox' + index" :key="index"
          class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
        <input type="checkbox" :id="input.name + '-checkbox' + index" class="mdl-checkbox__input" value="checkbox.value" v-model="checkbox.value">
        <span class="mdl-checkbox__label">{{ checkbox.text }}</span>
      </label>
      <span class="mdl-textfield__error">{{ errors.first(input.name) }}</span>
    </div>
  </div>
</template>


<script>
export default {
  name: 'RadioCheckbox',

  props: ['input'],

  data() {
    return {
      radioValue: this.input.value,
    };
  },



  computed: {
    inputValue() {
      const checkboxValues = {};
      if (this.input.type === 'radio') {
        return this.radioValue;
      }

      this.input.inputs.forEach((checkbox) => {
        checkboxValues[checkbox.name] = checkbox.value;
      });
      return checkboxValues;
    },
  },



  methods: {
  },

};
</script>


<style lang="sass" indented-syntax="true">
.radio-checkbox
  &__wrapper
    display: flex
    flex-direction: row
    align-items: center

    .md-radio + .md-radio,
    .md-checkbox + .md-checkbox
      margin-left: 12px

  &__label
    padding-right: 24px

</style>
