<template>
  <div class="regular-input">
    <!-- regular input for email, number, date -->
    <div class="mdl-textfield mdl-textfield--floating-label"
        :id="input.name + '_container'"
        :aria-invalid="anyError"
        :class="{'is-invalid': anyError, 'is-dirty': !!inputValue, ['mdl-textfield--' + input.name]: input.name, 'is-focused': focused}">
      <label class="mdl-textfield__label" :for="input.id || input.name">{{ input.label }}</label>
      <!-- text input -->
      <input :type="input.type"
        class="mdl-textfield__input"
        v-if="input.type !== 'textarea'"
        v-model="value"
        :id="input.id || input.name"
        :name="input.name"
        :placeholder="input.placeholder || null"
        v-validate="input.rules"
        :data-vv-name="input.name"
        :data-vv-as="input.as || input.label"
        :disabled="input.disabled"
        :readonly="input.readonly"
        @focus="focused = true"
        @blur="focused = false">

      <!-- textarea -->
      <textarea
        class="mdl-textfield__input"
        v-if="input.type === 'textarea'"
        v-model="value"
        :maxlength="input.rules.max"
        :name="input.name"
        :placeholder="input.placeholder || ''"
        v-validate="input.rules"
        :data-vv-name="input.name"
        :data-vv-as="input.as || input.label"
        :disabled="input.disabled"
        :readonly="input.readonly"
        @focus="focused = true"
        @blur="focused = false">
      </textarea>

      <button class="mdl-buttton mdl-js-button mdl-button--icon mdl-button--primary"
          v-if="input.repeatable"
          type="button"
          @click="emitRepeatInput">
        <i class="material-icons">add</i>
      </button>

      <button class="mdl-buttton mdl-js-button mdl-button--icon mdl-button--primary"
          v-if="input.dismiss"
          @click="emitRemoveInput">
        <i class="material-icons">clear</i>
      </button>

      <i class="material-icons" v-if="input.icon">{{input.icon}}</i>

      <span class="mdl-textfield__error"><span v-if="!(input.patternMessage && errors.firstByRule(input.name, 'regex'))">{{ errors.first(input.name) }}</span><span v-else>{{input.patternMessage}}</span></span>
    </div>
    <!-- end of regular input -->
  </div>
</template>


<script>
export default {
  name: 'RegularInput',

  props: ['input'],

  data() {
    return {
      value: this.input.value,
      file: null,
      focused: false,
    };
  },



  computed: {
    anyError() {
      return this.errors.any()
    },

    inputValue() {
      if (this.input.type === 'file') {
        return this.file;
      }
      return this.value;
    },
  },



  methods: {
    emitRepeatInput() {
      this.$emit('repeatInput');
    },


    emitRemoveInput() {
      this.$emit('removeInput');
    },

    setValue(value) {
      this.value = value;
    },
    addFile([file]) {
      this.file = file;
    },
  },

};
</script>


<style lang="sass"></style>
