<template>
  <div class="select-input">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
        :class="{'is-invalid': errors.has(input.name)}">
      <label class="mdl-textfield__label" :for="input.name">{{ input.label }}</label>

      <select
          class="mdl-textfield__input"
          :id="input.name"
          :multiple="input.multiple"
          :name="input.name"
          v-model="value"
          :data-vv-name="input.name"
          :data-vv-as="input.as || input.label"
          v-validate="input.rules"
          :disabled="input.disabled"
          @change="emitSelected($event)">
        <option v-if="input.placeholder" value="" :disabled="true">{{input.placeholder}}</option>
        <option v-for="option in input.inputs" :key="option.value" :value="option.value">{{ option.text }}</option>
      </select>

      <span class="mdl-textfield__error">{{ errors.first(input.name) }}</span>
    </div>
  </div>
</template>


<script>
export default {
  name: 'SelectInput',

  props: ['input'],

  data() {
    return {
      value: this.input.value,
    };
  },


  computed: {
    inputValue() {
      return this.value;
    },
  },


  methods: {
    emitSelected(result) {
      this.$emit('selected', { input: this.input, result });
    },

    setValue(value) {
      this.value = value;
    },
  },

};
</script>


<style lang="sass" indented-syntax="true"></style>
