<template>
  <form class="edit-single" novalidate @submit.stop.prevent="validateThenSubmit" autocomplete="off">
    <div class="edit-single__inputs">
      <div class="edit-single__text" v-if="input && isRegular()">
        <regular-input
            :input="input"
            ref="editSingle">
        </regular-input>
      </div>

      <div class="edit-single__text" v-if="input && input.type === 'date'">
        <date-input
            :input="input"
            ref="editSingle">
        </date-input>
      </div>

      <div class="edit-single__text" v-if="input && input.type === 'time'">
        <time-input
            ref="editSingle"
            :input="input">
        </time-input>
      </div>

      <div class="edit-single__text" v-if="input && input.type === 'location'">
        <location-input
            :input="input"
            ref="editSingle">
        </location-input>
      </div>

      <div class="edit-single__text" v-if="input && input.type === 'autocomplete'">
        <autocomplete-input
            :input="input"
            ref="editSingle">
        </autocomplete-input>
      </div>

      <div class="edit-single__select" v-if="input && input.type === 'select'">
        <select-input
            ref="editSingle"
            :input="input">
        </select-input>
      </div>

      <div class="edit-single__checkbox">
        <radio-checkbox
            v-if="input.type === 'radio' || input.type === 'checkbox'"
            :input="input"
            ref="editSingle">
        </radio-checkbox>
      </div>
    </div>

    <!-- save and cancel buttons -->
    <div class="edit-single__actions">
      <button type="submit" class="mdl-button mdl-js-button mdl-button--icon">
        <i class="material-icons">check</i>
      </button>

      <button class="mdl-button mdl-js-button mdl-button--icon" @click="emitCancel">
        <i class="material-icons">clear</i>
      </button>
    </div>
  </form>
</template>

<script>
/* eslint-disable vue/no-side-effects-in-computed-properties */
import FormInput from './formInput';
import RegularInput from './RegularInput.vue';
import AutocompleteInput from './AutocompleteInput.vue';
import RadioCheckbox from './RadioCheckbox.vue';
import SelectInput from './SelectInput.vue';
import LocationInput from './LocationInput.vue';
import DateInput from './DateInput.vue';
import TimeInput from './TimeInput.vue';


export default {
  name: 'EditSingle',

  props: {
    options: { type: Object, default: () => ({}) },
  },

  components: {
    RegularInput,
    AutocompleteInput,
    RadioCheckbox,
    SelectInput,
    LocationInput,
    DateInput,
    TimeInput,
  },

  data() {
    return {
      cachedInput: {},
    };
  },


  computed: {
    input() {
      if (this.cachedInput.name !== this.options.name) {
        this.cachedInput = new FormInput(this.options);
      }

      return this.cachedInput;
    },

  },


  methods: {

    validateThenSubmit() {
      this.$validator.validateAll().then((isClear) => {
        const types = ['autocomplete', 'location', 'date', 'time'];
        const ref = this.$refs.editSingle;
        const { type } = ref.input;
        const { required } = ref.input.rules;
        const { isEmpty } = ref;
        let isChildrenClear = true;

        ref.$validator.validate();

        if (ref.errors.any() || (types.includes(type) && isEmpty && required)) {
          isChildrenClear = false;

          if (isEmpty && type !== 'time') {
            ref.isStarted = true;
            ref.hasError = true;
          } else if (isEmpty) {
            ref.validate();
          }
        }

        if (isClear && isChildrenClear) {
          this.emitSave();
        }
      });
    },


    /**
     * check if type of input is regular
     * @return {Boolean}
     */
    isRegular() {
      const { type } = this.input;
      const irregular = ['radio', 'checkbox', 'autocomplete', 'select', 'location', 'date', 'time'];
      return !irregular.includes(type);
    },


    emitSave() {
      const data = {};
      const ref = this.$refs.editSingle;

      data[ref.input.name] = ref.inputValue;
      this.$emit('save', data);
    },


    emitCancel() {
      this.$emit('cancel');
    },
  },
};
</script>

<style lang="sass">

.edit-single
  width: 100%
  min-width: 100%
  display: flex
  flex-direction: row
  align-items: center

  &__inputs
    flex: 1

// .autocomplete 
//   position: relative

//   &__list
//     position: absolute
//     top: -15px
//     left: 0
//     width: 300px
//     max-height: 300px
//     overflow: hidden
//     overflow-y: auto

//   .md-list-item-container.md-button
//     transform: scale(1)
//     opacity: 1
</style>
