<template>
  <div class="time-input">
    <vue-clock-picker
      ref="clockPicker"
      input-class="mdl-textfield__input"
      input-container-class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label"
      input-focus-class="is-focused"
      input-error-class="is-invalid"
      input-value-class="is-dirty"
      :disabled-from="input.rules.from"
      :disabled-to="input.rules.to"
      :label="input.label"
      :value="input.value || null"
      :name="input.name"
      :required="input.rules.required"
      @timeset="handleTimeSet($event)"
      @cancel="handleCancel($event)">
      <span class="mdl-textfield__error" slot="error">
        <span v-if="input.rules.required && !value">{{input.label}} field is required.</span>
        <span v-if="hasError && isStarted && value">{{input.label}} field should be in format HH:MM</span>
      </span>
    </vue-clock-picker>
  </div>
</template>


<script>
import VueClockPicker from '@pencilpix/vue2-clock-picker';
import '@pencilpix/vue2-clock-picker/dist/vue2-clock-picker.min.css';

export default {
  name: 'TimeInput',

  props: ['input'],

  components: {
    VueClockPicker,
  },

  data() {
    return {
      value: this.input.value,
      hasError: false,
      isEmpty: !this.input.value,
      isStarted: false,
    };
  },

  computed: {
    inputValue() {
      return this.value;
    },
  },



  methods: {
    setValue(value) {
      this.$refs.clockPicker.setValue(value);
      this.checkErrors();
    },

    checkErrors() {
      const { clockPicker } = this.$refs;
      this.hasError = clockPicker.hasError;
      this.isEmpty = !this.value;
      this.isStarted = clockPicker.isTouched;
    },

    handleTimeSet(time) {
      this.value = time;
      this.checkErrors();
      this.$emit('change');
    },

    handleCancel() {
      this.checkErrors();
    },

    validate() {
      const { clockPicker } = this.$refs;
      const errors = {};
      clockPicker.validate();
      this.checkErrors();
      errors.empty = this.input.rules.required && this.isStarted && this.isEmpty;
      errors.any = this.hasError;
      return Promise.resolve(!errors.any && !errors.empty);
    },
  },
};
</script>


<style lang="sass"></style>

