<template>
  <div id="">
    <h1>horizonalForm</h1>
  </div>
</template>


<script>
export default {
  name: 'HorizonalForm',

  data() {
    return {};
  },



  computed: {
  },



  methods: {
  },

};
</script>


<style lang="sass"></style>

